<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gigasa Admin</title>
        <link rel="stylesheet" href="style.css">
        <link
            href="https://unpkg.com/sanitize.css"
            rel="stylesheet" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <main id="container-main">
            <section class="sidebar">
                <nav class="navbarH">
                    <div class="logo">
                        <div class="icon-logo">
                            <img src="./img/icon-horizontal.png"
                                alt="logo-admin">
                        </div>
                        <div class="logo-title">
                            <h4>Admin</h4>
                        </div>
                    </div>
                    <div class="container-menu">
                        <ul class="menuOperations">
                            <li
                                class="item-menu"> <a href="./home.html"> <i
                                        class="fa-solid fa-chart-pie"></i>
                                    DashBoard </a> </li>
                            <li class="dropdown item-menu">
                                <a
                                    id="dropdown"
                                    class="dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    href="#">
                                    <i class="fa-solid fa-book"></i> Catalogo
                                </a>
                                <ul
                                    class="dropdown-menu menuDown">
                                    <li>
                                        <a href="./categorias.html">
                                            Categorías
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Sub Categorías
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Artículos
                                        </a>
                                    </li>

                                </ul>

                            </li>
                        </ul>

                    </div>
                    <div class="profile">
                        <div class="menu-profile">
                            <ul class="profile-menu_group">
                                <li 
                                class="dropdown item-menu">
                                    <a 
                                    href="#"
                                    id="dropdown"
                                    class="dropdown-toggle"
                                    data-bs-toggle="dropdown">
                                    <i class="fa-solid fa-id-card-clip"></i>
                                    Nombre Apellido
                                    </a>
                                    <ul
                                    class="dropdown-menu menuDown">
                                    <li class="item-menu">
                                        <a href="#">
                                            Perfil
                                        </a>
                                    </li>
                                    <li class="item-menu">
                                        <a href="#">
                                            Cerrar Sesión
                                        </a>
                                    </li>
                                   
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>
            <section class="container">
                <div class="title-section bg-danger">
                    <h2>ERROR 404</h2>
                </div>
                <div class="container-section">
                    <div class="container-img d-flex justify-content-center align-items-center flex-column">
                        <div class="title-error">
                            <h3>Recurso no encontrado</h3>
                        </div>
                        <div class="img-containerError">

                            <img src="../img/error.svg" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
        <script src="./js/index.js"></script>
    </body>

</html>